<!-- Default home page -->
<div id="content" class="grid-container">
    <div class="grid-75">
        <header>
            <h2>Data</h2>
        </header>
        <div id="answers">
        </div>
    </div>
</div>
