<!-- Default home page -->
<div id="loginContainer">
</div>
<div id="content" class="grid-container">
</div>
<script type="application/javascript">
    var user =  {
        name : '<%= user.name %>',
        logged : <%= !!user.name %>
    };
</script>
<script src="/js/all.js"></script>